h1 {
    color:#ca8537;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #ca8537;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}


.content {
    padding: 20px;
}

section{
    text-align: center;
    justify-content: center;
}
footer {
    text-align: center;
    justify-content: center;
}
