h1 {
    color:#ca8537;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #ca8537;
    color: #fff;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-content: center;
}


.nav-links {
    list-style: none;
    display: flex;
    justify-content: center;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links li a {
    color: #fff;
    text-decoration: none;
}


.content {
    padding: 20px;
}

section{
    text-align: center;
    justify-content: center;
}
footer {
    text-align: center;
    justify-content: center;
}
div {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}


thead th {
    background-color: #ca8537;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

td ul li {
    margin: 5px 0;
}

