h1 {
    color:#ca8537;
    text-align: center;
}
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: #f5933c;
    color: #fff;
    padding: 0.5rem 1rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
}  
nav .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
  }
  nav ul li {
    margin: 0 1rem;
  }
  nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
  }
  nav ul li a:hover {
    color: black;
  }
 


.content {
    padding: 20px;
}

section{
    text-align: center;
    justify-content: center;
}
footer {
    text-align: center;
    justify-content: center;
}


table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

 input[type="submit"]{
  background-color: #f5933c;
  color: #fff;
  padding: 12px 20px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s;
 }
thead th {
    background-color: #f5933c;
    color: white;
    padding: 10px;
    text-align: left;
    border-bottom: 2px solid #ddd;
}


tbody tr:nth-child(even) {
    background-color: #f2f2f2;
}


td {
    padding: 10px;
    border-bottom: 1px solid #ddd;
}


td ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

td ul li {
    margin: 5px 0;
}

.project-description {
    background-color: #f4f4f4;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 1200px;
    margin: 20px auto;
  }

  .flex-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .description, .instructions {
    flex: 1;
    min-width: 300px;
    padding: 20px;
  }

  .description {
    border-right: 2px solid #ddd;
  }

  h2, h3 {
    color: #333;
  }

  p {
    line-height: 1.6;
    color: #555;
  }

  ul {
    list-style-type: disc;
    padding-left: 20px;
  }

  a {
    color: #ff7f50;
    text-decoration: none;
  }

  a:hover {
    text-decoration: underline;
  }
  .extract-form {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    text-align: center;
  }

  h2 {
    color: #333;
    margin-bottom: 20px;
  }

  label {
    display: block;
    font-weight: bold;
    margin-bottom: 8px;
    color: #555;
  }

  input[type="text"] {
    width: 100%;
    padding: 12px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 16px;
    transition: border-color 0.3s;
  }

  input[type="text"]:focus {
    border-color: #cc7722;
    outline: none;
  }

  button {
    background-color: #f5933c;
    color: #fff;
    padding: 12px 20px;
    font-size: 16px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s;
  }

  button:hover {
    background-color: #e68a00;
  }

  p {
    margin-top: 10px;
    font-size: 14px;
    color: #777;
  }
  .chart {
    flex: 1;
    text-align: center;
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .flex-container-chart {
    display: flex;                    
    justify-content: center;          
    gap: 20px;                      
    padding: 20px;                    
    flex-wrap: wrap;                  
}


.chart-container {
    display: flex;                   
    justify-content: center;         
    align-items: center;             
    width: 100%;                     
    max-width: 400px;                
}


.chart-container .plotly-graph-div,
.chart-container img {
    width: 100%;                     
    height: auto;                    
    max-width: 400px;              
    border-radius: 8px;               
}

.flex-container2 {
  display: flex;
  background-color: #f4f4f4;
  border-radius: 8px;
  justify-content: space-between; /* Rozdziela obiekty równomiernie w poziomie */
  gap: 20px; /* Odstęp między elementami */
  padding: 20px; /* Odstęp wewnętrzny dla kontenera */
  flex-wrap: wrap;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Zapewnia, że w przypadku braku miejsca elementy przejdą do nowej linii */
}

.object1, .object3, .object4 {
  flex: 1 1 30%; /* Zapewnia, że każdy obiekt ma co najmniej 30% szerokości */
  text-align: center; /* Wyśrodkowanie tekstu */
}

.object1 img, .object3 img, .object4 img {
  width: 100%; /* Obrazki zajmują pełną szerokość swojego kontenera */
  max-width: 200px; /* Maksymalna szerokość obrazu */
  height: auto; /* Wysokość obrazu dostosowuje się proporcjonalnie */
  margin-bottom: 10px; /* Odstęp między obrazem a tekstem */
}

