<!DOCTYPE html>
<html lang="{{ g.get('lang') }}"></html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='style.css')}}">
    <title>Ceneo Scraper</title>
</head>
<body>
   <nav>
    <div class="logo">Ceneo Web Scraper</div>
    <div class="'menu-toggle" id="menu-toggle">
        <div></div>
        <div></div>
        <div></div>
    </div>
    <ul id="nav-menu">
        <li><a href="{{url_for('index')}}">Home Page</a></li>
        <li><a href="{{url_for('extract')}}">Search Opinions</a></li>
        <li><a href="{{url_for('products')}}">Product List</a></li>
    </ul>
   </nav>
    <section>
        {% block content %}
        <p>To jest plik bazowy</p>
        {% endblock %}
    </section>
</body>

</html>
