{% extends 'base.html' %}
{% block content %}
        <h2>Ekstrakcja opinii</h2>
        <form action="{{url_for('extract')}}" method="post">
                <label for="product_id">Kod Produktu</label>
                <input type="text" id="product_id" name="product_id" class="form-control" aria-describedby="idHelpLine" required><br><br>
                <input type="submit" value="Pobierz opinie">
                <span id="idHelpline" class="form-text"> Kod produktu składa się z 8-10 cyfr </span>
                </form>
        {% endblock %}
