{% extends 'base.html' %}

{% block content %}
<h1>Product {{ product_id }}: {{ product_name }}</h1>

<div class="flex-container-chart">
    <div class="chart">
        <h2>Star Rating Distribution</h2>
        <div class="chart-container">
            {{ stars_chart | safe }}
        </div>
    </div>

    <div class="chart">
        <h2>Recommendation Distribution</h2>
        <div class="chart-container">
            {{ recommendations_chart | safe }}
        </div>
    </div>
</div>
{% endblock %}
