{% extends 'base.html' %}

{% block content %}
    <h1>Product {{ product_id }}: {{ product_name }}</h1>
    <div class="flex-container-chart">
        <div class="chart">
          <h2>Star Rating Distribution</h2>
          <img src="data:image/png;base64,{{ stars_img }}" alt="Star Rating Distribution Chart" />
        </div>
        <div class="chart">
          <h2>Recommendation Distribution</h2>
          <img src="data:image/png;base64,{{ recommendations_img }}" alt="Recommendation Distribution Chart" />
        </div>
      </div>
{% endblock %}
